* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(150, 29, 29);
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 400px;
    
}

.header {
    text-align: center;
    padding: 1rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    margin-top: 30px;
}

.scoreboard div {
    display: flex;
    align-items: center;
}
.scoreboard span {
    font-size: 2rem;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

.scoreboard p {
    background-color: rgb(150, 29, 29);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    color: antiquewhite;
    border-radius: 5px;
    margin-right: 10px;
}

.infogame {
    border:  2px solid black;
    margin: 10px;
    border-radius: 5px;
}

.infogame h2 {
    padding: 1rem;
}

.infogame span {
    margin-left: 20px;
}

.boardgame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.boardgame .btn {
    background-color: brown;
    cursor: pointer;
    color: antiquewhite;
    font-weight: bold;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}

.boardgame .btn:hover,
.boardgame .btn:active,
button:hover,
button:active {
    background-color: rgba(165, 42, 42, 0.5);
}

#reset {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

